* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  .gallery-thumb{
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .slide-desktop{
    width:100%;
  }
  .slide-mobile{
    width:100%;
  }

  /* Show in Large desktops and laptops */
  @media (min-width: 992px) {
      .slide-mobile{
        display: none;
      }
    }
  
      /* Portrait tablets and small desktops */
      @media (min-width: 768px) and (max-width: 991px) {
  
        .slide-desktop{
          display: none;
        }
  
        .prev{
          top: 45%;
          left: 0%;
        }
        .next{
          top: 45%;
          right: -12%;
        }
        .prev img{
          width: 35%;
        }
        .next img{
          width: 35%;
        }
    }
  
      /* Landscape phones and portrait tablets */
      @media (max-width: 767px) {
  
        .slide-desktop{
          display: none;
        }

        .prev{
          top: 45%;
          left: 0%;
        }
        .next{
          top: 45%;
          right: -12%;
        }
        .prev img{
          width: 35%;
        }
        .next img{
          width: 35%;
        }
    }
  
      /* Portrait phones and smaller */
      @media (max-width: 480px) {
  
        .slide-desktop{
          display: none;
        }
  
        .prev{
          top: 45%;
          left: 0%;
        }
        .next{
          top: 45%;
          right: -12%;
        }
        .prev img{
          width: 35%;
        }
        .next img{
          width: 35%;
        }
    }