.round-white {
    border-radius: 25px;
    border: 2px solid white;
    padding: 20px;
}

.round-grey {
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
}

.round-black {
    border-radius: 25px;
    background-color: black;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

p {
    text-indent: 40px;
}


/*===========================
       1. Dying earth css
===========================*/

.dying-area .dying-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.dying-title {
    color: white !important;
}

.dying-title p {
    color: white !important;
}

@media (max-width: 767px) {
    .dying-area .dying-title .sub-title {
        font-size: 16px;
    }
}

.dying-area .dying-title .title {
    font-size: 30px;
    padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .dying-area .dying-title .title {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .dying-area .dying-title .title {
        font-size: 22px;
    }
}

.dying-area {
    background-image: url(../images/story/dying-earth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    padding-top: 97px;
}

.dying-content {
    margin-top: 15%;
    margin-bottom: 10%;
}


/*===========================
 2. 
===========================*/

.inhope-area {
    padding-top: 10px;
    position: relative;
}

.inhope-area .inhope-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .inhope-area .inhope-title .sub-title {
        font-size: 16px;
    }
}

.inhope-area .inhope-title .title {
    font-size: 30px;
    padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .inhope-area .inhope-title .title {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .inhope-area .inhope-title .title {
        font-size: 22px;
    }
}

.thickline {
    border-width: thick;
    border-color: black;
}


/* Show in Large desktops and laptops */

@media (min-width: 992px) {
    .inhope-area {
        background-image: url(../images/story/inhope.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .inhope-content {
        margin-top: 25%;
        margin-bottom: 20%;
    }
    .inhope-img-mobile {
        display: none;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .inhope-area {
        padding-top: 0px;
    }
    .inhope-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .inhope-area {
        padding-top: 0px;
    }
    .inhope-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .inhope-area {
        padding-top: 0px;
    }
    .inhope-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/*===========================
       3. da CODE css
===========================*/

.dacode-area .dacode-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .dacode-area .dacode-title .sub-title {
        font-size: 16px;
    }
}

.dacode-area .dacode-title .title {
    font-size: 30px;
    padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .dacode-area .dacode-title .title {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .dacode-area .dacode-title .title {
        font-size: 22px;
    }
}


/* Show in Large desktops and laptops */

@media (min-width: 992px) {
    .dacode-area {
        background-image: url(../images/story/daCODE.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 0px;
        padding-top: 97px;
    }
    .dacode-content {
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .dacode-img-mobile {
        display: none;
    }
    .dacode-title {
        color: white !important;
    }
    .dacode-title p {
        color: white !important;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .dacode-area {
        padding-top: 0px;
    }
    .dacode-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .dacode-area {
        padding-top: 0px;
    }
    .dacode-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .dacode-area {
        padding-top: 0px;
    }
    .dacode-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/*===========================
 4.First Phase 
===========================*/

.firstphase-area {
    padding-top: 10px;
    position: relative;
}

.firstphase-area .firstphase-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .firstphase-area .firstphase-title .sub-title {
        font-size: 16px;
    }
}

.firstphase-area .firstphase-title .title {
    font-size: 30px;
    padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .firstphase-area .firstphase-title .title {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .firstphase-area .firstphase-title .title {
        font-size: 22px;
    }
}


/* Show in Large desktops and laptops */

@media (min-width: 992px) {
    .firstphase-area {
        background-image: url(../images/story/firstPhase.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .firstphase-content {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .firstphase-img-mobile {
        display: none;
    }
    .firstphase-title {
        color: white !important;
    }
    .firstphase-title p {
        color: white !important;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .firstphase-area {
        padding-top: 0px;
    }
    .firstphase-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .firstphase-area {
        padding-top: 0px;
    }
    .firstphase-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .firstphase-area {
        padding-top: 0px;
    }
    .firstphase-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/*===========================
 5. corrupted hope 
===========================*/

.corruptedhope-area .corruptedhope-title .sub-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .corruptedhope-area .corruptedhope-title .sub-title {
        font-size: 16px;
    }
}

.corruptedhope-area .corruptedhope-title .title {
    font-size: 30px;
    padding-top: 10px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .corruptedhope-area .corruptedhope-title .title {
        font-size: 26px;
    }
}

@media (max-width: 767px) {
    .corruptedhope-area .corruptedhope-title .title {
        font-size: 22px;
    }
}


/* Show in Large desktops and laptops */

@media (min-width: 992px) {
    .corruptedhope-area {
        background-image: url(../images/story/corruptedHope.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
        position: relative;
    }
    .corruptedhope-content {
        margin-top: 20%;
        margin-bottom: 20%;
    }
    .corruptedhope-img-mobile {
        display: none;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .corruptedhope-area {
        padding-top: 0px;
    }
    .corruptedhope-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .corruptedhope-area {
        padding-top: 0px;
    }
    .corruptedhope-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
    .corruptedhope-area {
        padding-top: 0px;
    }
    .corruptedhope-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}